@charset "UTF-8";

body {background: #080B10; color: #fff;}
.center_box {max-width: 1200px; margin: 0 auto; padding: 0 40px;}
.section_box .center_box h2 {font-family: 'Pretendard-Bold.sans-serif';}

.fixed {
    overflow: hidden;
}

.header {width: 100%; height: 180px; position: absolute;}
.header .language {margin-top:40px;width: 100%;}
.header .language a {float: left;}
.header .language img {width: 100%;}
.header .language ul {display: flex;}
.header .language ul > li {width: 0; opacity: 0; transition: 1s;}
.header .language > ul > li > a {color: #eee; font-size: 18px; padding-left: 10px;}
.header .language_btn:hover li{width: 40px; opacity: 1;}
.header .language li:hover > a{color: #2484F3;}


.header h1 {position: absolute; left: 50%; top: 32px; transform: translateX(-50%);z-index: 1;}
.header h1 img {padding-left: 10px;}

.header .language .Countact_us {color: #fff; float: right;font-family: 'Pretendard-Medium.sans-serif'; font-size: 20px;}

.header .gnb {display: flex; margin-top: 69px; justify-content: center;
    font-family: 'Pretendard-Bold.sans-serif'; font-size: 20px;}
.header .gnb > li{position: relative;margin: 0px 82px;}
.header .gnb > li a{ color: #fff; }


.header .gnb .lnb {position: absolute; text-align: center; width: 200%; height: 0; top: 0; left: 50%; transform: translateX(-50%); transition: 1s;opacity: 0;overflow: hidden; z-index: 1;
    font-family: 'SpoqaHanSansNeo-Medium.sans-serif'; font-size: 16px;}
.header .lnb li {height: 40px; line-height: 40px;}
.header .lnb li a {color: #fff;display: block;}
.header .lnb ul {background: rgba(255,255,255,0.3); border-radius: 15px;  }

.header .gnb li:hover > a{color: #2484F3;}
.header .gnb  li:hover .lnb{height: 100vh; opacity: 1; top: 100%;}
.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}
.hamburger.active span:first-child {
    transform: rotate(45deg) translate(0, -1px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:last-child {
    transform: rotate(-45deg) translate(0, -1px);
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: rgba(10, 10, 42, 1);
    z-index: 999;
    transition: 0.5s;
    padding: 80px 20px 20px;
    overflow-y: auto;
}

.mobile-menu.active {
    left: 0;
}

.mobile-menu ul li {
    margin-bottom: 15px;
}

.mobile-menu .has-submenu > a {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.mobile-menu ul li a > img {width: 24px;transition: 0.3s;}
.mobile-menu ul li a > img.rotated {
    transform: rotate(180deg);
}


.mobile-menu ul li a:hover {
    color: #2484F3;
}

.mobile-submenu {
    display: none;
    padding-left: 20px;
    font-size: 16px;
}
.mobile-submenu li:first-child {margin-top: 15px;}


.visual {width: 100%; height: 100vh;}
.visual img {width: 100%; height: 100vh;}
.visual .visual_text { position: absolute; left: 50%; top: 40%; transform: translateX(-50%); text-align: center; color: #fff;}
.visual .visual_text strong {font-size: 128px;font-family: 'Pretendard-Bold.sans-serif';}
.visual .visual_text strong span {background: linear-gradient(to right, #2AA2FC, #36E7C5); background-clip: text; -webkit-background-clip: text; color: transparent;}
.visual .visual_text p {font-size: 48px;font-family: 'Pretendard-Medium.sans-serif';} 
.visual .notice_box{width: 100%; height: 50px;background: rgba(50,50,50,0.3); top:100vh; position: absolute; transform: translateY(-100%);}

.visual .notice_box .center_box {height: 50px;display: flex; font-family: 'SpoqaHanSansNeo-Regular';font-weight: normal;gap: 40px;}
.visual .notice_box li {display: flex; align-items: center; color: #eee;}
.visual .notice_box li > img {}
.visual .notice_box li:first-child {padding: 4px 32px;border: 3px solid #268CFF; border-radius: 25px; margin: auto 0;font-weight: bold;white-space: nowrap;}
.visual .notice_box li:nth-child(2) {flex-grow: 1;}
.visual .notice_box li a {color: #eee;font-size: 16px;font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; } 

.visual .notice_box li img{width: 32px;height: 28px;}
.visual.blur{
    filter: blur(30px);
    transition: 0.3s ease;
}

.section_box {width: 100%;}
.section_box .center_box .product {padding-top: 200px;}
.section_box .center_box .product > ul > li .text {font-family: 'SpoqaHanSansNeo-Medium'; font-weight: normal;font-size: 24px;}
.section_box h2 { font-size: 48px;padding-bottom: 70px;}

.section_box .center_box .product > ul {display: flex;justify-content: space-around; gap: 25px; max-height: 368px;}
.section_box .center_box .product > ul > li {width: 100%; border-radius: 25px; padding: 50px 45px; position: relative;}

.section_box .center_box .product > ul > li em {font-style: normal;}
.section_box .center_box .product > ul > li p{font-family: 'SpoqaHanSansNeo-Regular';font-size: 18px; font-weight: normal;}
.section_box .center_box .product > ul > li > h3 { font-size: 32px; display: flex; justify-content: space-between; align-items: center;font-family: 'SpoqaHanSansNeo-Bold.sans-serif';padding-bottom: 20px;}
.section_box .center_box .product > ul > li h2 > a {width: 24px;height: 24px;display: flex;justify-content: center;align-items: center;}
.section_box .center_box .product > ul > li .btn_logo {position: absolute;left: 8px; top: 14px;  }

.section_box .center_box .product ul > .card1 {background: rgba(204,153,255,0.2);box-shadow:inset 0px -90px 70px -80px rgba(146,115,177,0.5);}

.section_box .center_box .product > ul > li > ul > li {border-bottom: 1px solid rgba(38,140,255,0.45); height: 43px;display: flex; justify-content: space-between;align-items: center;height: 40px; padding: 6px 0; position: relative;}

.section_box .center_box .product > ul > li > ul > li:hover ::before{content: ""; background: url(../images/Ellipse\ 5.png) no-repeat left center; position: absolute; left: -8%; bottom: 0;width: 100%; height: 100%;}

.section_box .center_box .product > ul > li > ul > li span{font-size: 16px;}
.section_box .center_box .product > ul > li > ul > li {font-size: 24px;}


.section_box .product ul > .card2 {background: rgba(34,104,218,0.2);box-shadow:inset 0px -90px 70px -80px rgba(35,110,210,0.5);}

.section_box .product ul > li.card2 > .btn_logo { left: 33%; top: 14%;}
.section_box .product ul > .card2 h2 .Trelli {width: 120px;;}

.section_box .product ul > .card3 {background: rgba(51,255,255,0.2);box-shadow:inset 0px -90px 70px -80px rgba(41,206,206,0.5);}

.section_box .product ul > li.card3 img:nth-last-child(2){width: 46px; height: 46px;}


.section3 { background: url(../images/bg2.gif)no-repeat center center; height: 100%; width: 100%;padding-bottom: 95px; padding-top: 200px;}

.section3 .center_box ul {display: flex;flex-wrap: wrap; justify-content: space-between; gap: 25px;}
.section3 .center_box ul li {border: 1px solid rgba(238, 238, 238, 0.5);
width: 30%; height: 220px; flex-grow: 1;  display: flex; border-radius: 25px;background: rgba(77, 77, 77, 0.5);
font-family: 'SpoqaHanSansNeo-Medium';font-weight: normal;}
.section3 .center_box > ul > li a{padding: 30px;width: 100%;}
.section3 .center_box > ul > li a >div{display: flex; align-items: center; justify-content: space-between;}
.section3 .center_box > ul > li a img{ float: right; width: 8px; height: 16px;position: relative;}
.section3 .center_box > ul > li a img::after 
{content: "";background: #fff;width: 100%;height: 100%;}

.section3 .center_box ul li a .tit{float: left; background: #4D4D4D; border-radius: 25px; text-align: center; padding: 4px 21px; }
.section3 .center_box ul li p{margin-top: 40px;font-size: 18px;font-family: 'SpoqaHanSansNeo-Regular';font-weight: normal;}

.section4 {width: 100%; height: 100%;padding-top: 200px;position: relative;padding-bottom: 200px;overflow: hidden;}

.section4::before {content: ""; background: url(../images/one.png)no-repeat; width: 100%; height: 100%; position: absolute;left: 80%; }


.section4 .center_box {}
.section4 .center_box  > ul{ display: flex; gap: 25px;}
.section4 .center_box  > ul > li{width: 50%; height: 250px; border: 1px solid #fff;flex-grow: 1; display: flex;border-radius: 25px;
    font-family: 'SpoqaHanSansNeo-Medium.sans-serif';}

.section4 .center_box  > ul > li a {width: 100%; margin: 70px 30px 40px 30px; z-index: 1;}
.section4 .center_box  > ul > li h3 {font-size: 24px;font-family: 'SpoqaHanSansNeo-Bold.sans-serif';}
.section4 .center_box  > ul > li a .baro_btn{display: flex;justify-content: flex-end; align-items: center;gap: 6px;padding-top: 16px;}
.section4 .center_box  > ul > li a .baro_btn > img{width: 8px;}
.section4 .center_box  > ul > li:nth-last-child(2) {position: relative; overflow: hidden;}
.section4 .center_box  > ul > li:nth-last-child(2)::before {content: ""; background: url(../images/section4_img.png)no-repeat;background-size: cover; position: absolute;width: 100%;height: 250px; left: 0;top: 0;}
.section4 .center_box  > ul > li:nth-last-child(2)::after {content: ""; background: #000 no-repeat;position: absolute;width: 100%;height: 250px; left: 0;top: 0; opacity: 0.5; transition: 0.5s;}
.section4 .center_box  > ul > li:nth-last-child(2) a {position: relative; }

.section4 .center_box  > ul > li:hover:nth-last-child(2)::after {opacity: 0;}


.section4 .center_box  > ul > li:nth-last-child(1) {position: relative; overflow: hidden;}
.section4 .center_box  > ul > li:nth-last-child(1)::before {content: ""; background: url(../images/section4_img2.png)no-repeat;background-size: cover; position: absolute;width: 100%;height: 100%; left: 0;top: 0;}
.section4 .center_box  > ul > li:nth-last-child(1)::after {content: ""; background: #000 no-repeat;position: absolute;width: 100%;height: 250px; left: 0;top: 0; opacity: 0.5;transition: 0.5s;}
.section4 .center_box  > ul > li:nth-last-child(1) a {position: relative;}

.section4 .center_box  > ul > li:hover:nth-last-child(1)::after {opacity: 0;}
.section4 .center_box  > ul > li:hover {border: 1px solid rgba(0, 0, 0, 0);}

@keyframes {}


.section5 {width: 100%;position: relative; background: url(../images/section5_img.png) no-repeat;padding-bottom: 100px;background-size: cover;}
.section5::before {content: ""; background: #000;position: absolute; left: 0; top: 0;width: 100%;height: 100%;opacity: 0.5;}
.section5 .center_box {position: relative;margin: 0 auto;padding-top: 0;}
.section5 .center_box h2{padding: 70px 0;}
.section5 .center_box .content {display: grid;  gap: 25px;
grid-template-columns: 0.526fr 1fr 0.644fr 0.789fr;
grid-template-rows: repeat(3,230px);}
.section5 .center_box .content li{border: 1px solid #fff; position: relative; overflow: hidden; border-radius: 25px; }
.section5 .center_box .content li:nth-child(1)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
/* .section5 .center_box .content li:nth-child(2)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
.section5 .center_box .content li:nth-child(3)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
.section5 .center_box .content li:nth-child(4)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
.section5 .center_box .content li:nth-child(5)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
.section5 .center_box .content li:nth-child(6)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
.section5 .center_box .content li:nth-child(7)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
.section5 .center_box .content li:nth-child(8)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}
.section5 .center_box .content li:nth-child(9)::before {content: "";background: url(../images/section5_1.png)no-repeat; width: 100%; height: 100%; position: absolute;top: 0;left: 0; opacity: 0;transition: 1s;}

 */

.section5 .center_box .content li:nth-child(1) {grid-row: span 2;}
.section5 .center_box ul li:nth-child(5) {grid-column:span 2}
.section5 .center_box ul li:nth-child(9) {grid-column: span 2;}



.section5 .center_box > ul > li .num {position: absolute; font-size: 100px;right: -20px; bottom: -30px; opacity: 0.5;}
.section5 .center_box > ul > li a{display: flex; margin: 30px 20px; flex-direction: column;height: 70%;}
.section5 .center_box > ul > li a h3{font-size: 18px; word-break: keep-all;margin-bottom: 20px;flex-grow: 1; transition: 0.5s;}
.section5 .center_box > ul > li a p {font-size: 14px;left: -300px;transition: 1s; position: absolute;width: 200px;height: 200px;word-break: keep-all; line-height: 1.5;}

.section5 .center_box ul li:hover:nth-child(1):before  {opacity: 1; transform: scale(1.2);}
/* .section5 .center_box ul li:hover:nth-child(2):before  {opacity: 1; transform: scale(1.2);}
.section5 .center_box ul li:hover:nth-child(3):before  {opacity: 1; transform: scale(1.2);}
.section5 .center_box ul li:hover:nth-child(4):before  {opacity: 1; transform: scale(1.2);}
.section5 .center_box ul li:hover:nth-child(5):before  {opacity: 1; transform: scale(1.2);}
.section5 .center_box ul li:hover:nth-child(6):before  {opacity: 1; transform: scale(1.2);}
.section5 .center_box ul li:hover:nth-child(7):before  {opacity: 1; transform: scale(1.2);}
.section5 .center_box ul li:hover:nth-child(8):before  {opacity: 1; transform: scale(1.2);}
.section5 .center_box ul li:hover:nth-child(9):before  {opacity: 1; transform: scale(1.2);}
 */




.section5 .center_box ul li:hover p{left: 0;}
.section5 .center_box ul li:hover h3 {position: relative;}
.section5 .center_box > ul > li a em > span {color: #2484f3;}

/* .section5 .center_box > ul > li a em {position: relative; font-style: normal; transition: 1s; width: 200px;}
.section5 .center_box > ul > li a > .btn5 {position: absolute;bottom: 20%;left: -100%;}
.section5 .center_box ul li:hover .con {padding-left: 120%;}


.section5 .center_box ul li:hover .btn5{left: 10%;} */


.footer {padding-top: 150px; padding-bottom: 100px;}
.footer .center_box {display: flex;}
.footer_logo {align-self: center;}
.footer_logo > img{width: 100%;}
.footer .center_box > ul li {display: flex; align-items: center;}
.footer .center_box > ul li span {width: 0; height: 15px;  border-right: 1px solid #fff;display: inline-block;}
.footer .center_box > ul > li > a {border: 1px solid #fff; font-size: 12px;}

.footer .center_box > ul > li:nth-child(3) {margin: 30px 0;}
.footer .center_box > ul li {flex-wrap: wrap; column-gap: 6px;}

@media screen and (max-width: 1200px) {
    .section_box .center_box .product > ul > li > h3 {font-size: 28px; padding-bottom: 12px;}
    .section_box .center_box .product > ul > li .btn_logo {width: 60px; left: 2%;top: 4%;}
    .section_box .product ul > .card2 h3 .Trelli{width: 100px;}
    .section_box .product ul > li.card3 img:nth-last-child(2) {width: 40px;height: 40px;}
    .section_box .center_box .product > ul > li .arow_btn {width: 16px;}
    .section_box .center_box .product > ul > li .arow_btn > img {width: 100%;}
    .section_box .center_box .product > ul > li {padding: 40px 35px;}
    .section_box .center_box .product > ul > li > ul > li {padding: 3px;font-size: 20px;}
    .section_box .center_box .product > ul > li > ul > li:first-child {padding-top: 0;}
   .section_box .center_box .product > ul > li p {font-size: 16px;}
    
    
}


@media screen and (max-width: 1024px) {
    .header {
        height: 100px;
    }
    
    .header .Countact_us {
        display: none;
    }
    
    .hamburger {
        display: flex;
        position: absolute;
        left: 20px;
        top: 40px;
    }
    
    .header .gnb {
        display: none;
    }
    
    .mobile-menu {
        display: block;
    }
    
    .header .language {
        display: none;
    }
    .section_box h2 {padding-bottom: 35px;}
    .section_box .center_box .product {padding-top: 160px;}
    .section_box .center_box .product > ul > li > h3 {font-size: 24px; padding-bottom: 8px;}
    .section_box .center_box .product > ul > li .btn_logo {width: 48px; left: 1%;top: 3%;}
    .section_box .product ul > .card2 h3 .Trelli{width: 80px;}
    .section_box .product ul > li.card3 img:nth-last-child(2) {width: 32px;height: 32px;}
    .section_box .center_box .product > ul > li .arow_btn {width: 12px;}
    .section_box .center_box .product > ul > li .arow_btn > img {width: 100%;}
    .section_box .center_box .product > ul > li {padding: 25px 20px;}
    .section_box .center_box .product > ul > li > ul > li {padding: 0px;font-size: 18px;}
    .section_box .center_box .product > ul > li p {font-size: clamp(12px, 1.36vw,14px)}
    .section_box .center_box .product > ul {gap: 15px;}
    .section_box .center_box .product > ul > li > ul > li:hover ::before {display: none;}

    .visual .visual_text p {font-size: 36px;}
    .visual .visual_text strong {font-size: 96px;}

    .section3 {padding-top: 160px;}
    .section3 .center_box ul li p {margin-top: 20px;}
    .section3 .center_box > ul > li a {padding: 24px;}
    .section3 .center_box ul li {height: 180px;width: 40%;}

    .section4 {padding: 160px 0 160px 0;}
    .section4 .center_box > ul > li h3 {font-size: clamp(20px, 2.34vw, 24px);}
    .section4 .center_box > ul {gap: 15px;}
    .section4 .center_box > ul > li{height: 230px;}
    
    .section5 .center_box h2 {padding: 35px 0;}
    .section5 .center_box .content {display: grid;  gap: 25px;
        grid-template-columns: 0.526fr 1fr 0.644fr;
        grid-template-rows: repeat(4,230px);}
    .section5 .center_box ul li:nth-child(5) {grid-column: span 1;}
    .section5 .center_box ul li:nth-child(9) {grid-column: span 3;}
    
    .footer {padding-top: 120px;}

}

@media screen and (max-width: 768px) {
    .section_box h2 {padding-bottom: 25px;}
    .section_box .center_box h2 {font-size: 36px;}
    .center_box {padding: 0 20px;}
    .section_box .center_box .product {padding-top: 80px;}
    .visual .notice_box li:first-child {padding: 4px 24px;}
    .visual .notice_box .center_box {gap: 15px;}
    .visual .notice_box .center_box .notice > a{display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; }
    .visual .visual_text p {font-size: clamp(21px, 4.68vw, 32px)}
    .visual .visual_text strong {font-size: clamp(48px, 12.5vw, 96px)}
    .section_box .center_box .product > ul {flex-wrap: wrap;}
    .visual .notice_box li:first-child {font-size: 12px;}
    .section_box .center_box .product > ul {max-height: none;}
    .visual .notice_box li a {font-size: clamp(14px, 2.08vw, 16px);}
    .section3 {padding: 80px 0 80px 0; overflow: hidden;background-size: cover;}
    .section3 .center_box ul {flex-wrap: nowrap; width: auto;transition: 0.3s;}
    .section3 .center_box ul li.slide {flex: 0 0 100%;}
    .pagination-count {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    color: #fff;
  }
    .section4 {padding: 80px 0 80px 0;}
    .section4 .center_box > ul {flex-wrap: wrap;pointer-events: none;}
    .section4 .center_box > ul > li {height: auto;}
    .section4 .center_box > ul > li h3 {word-break: keep-all; font-size: clamp(18px, 2.34vw, 20px);}
    .section4 .center_box > ul > li a {padding: 52px 28px 40px 28px; margin: 0;}
    .section5 .center_box .content {gap: 15px; grid-template-columns:1fr 1fr ;grid-template-rows: repeat(4,200px);}
    .section5 .center_box h2 {padding: 25px 0;}
    .section5 .center_box ul li:nth-child(5) {grid-column: span 0; grid-row: span 2;}
    .section5 .center_box ul li:nth-child(7) {grid-row: span 2;}
    .section5 .center_box ul li:nth-child(9) {grid-column: span 1;}
    .footer {padding: 40px 0 40px;}
    .footer .center_box {flex-wrap: wrap;}
    .footer_logo > img {width: 80%}
}
@media screen and (max-width: 370px) {
    .footer .center_box > ul li a {margin-top: 6px;}
}
